
* {
  font-family: arial, sans-serif;
}

BODY {
  color: #000000;
  background-color: #ffffff;
}

TABLE#memTbl {
  font-size: 11pt;
}

TABLE.layout-tbl {
  font-size: 8pt;
}

TABLE#memTbl > TBODY > TR > TD {
  padding: 2px 8px 2px 8px;
}

TABLE#memTbl > THEAD > TR {
  color: #ffffff;
  background-color: #666666;
}

TABLE#memTbl > TBODY > TR:nth-of-type(even) {
  background-color: #eeeeee;
}

TABLE {
  border-style: none;
  border-spacing: 0px;
}
