
* {
  font-family: arial, sans-serif;
}

BODY {
  color: #000000;
  background-color: #ffffff;
}

TABLE {
  border-style: none;
  border-spacing: 0px;
}

#appVersion {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 2px 4px 2px 4px;
  font-size: 8pt;
  background-color: #ffddaa;
}

#memTbl > TABLE {
  font-size: 11pt;
}

#memTbl > TABLE > TBODY > TR > TD {
  padding: 2px 8px 2px 8px;
}

#memTbl > TABLE > THEAD > TR {
  color: #ffffff;
  background-color: #666666;
}

#memTbl > TABLE > TBODY > TR:nth-of-type(even) {
  background-color: #eeeeee;
}

TABLE.layout-tbl {
  font-size: 8pt;
}
